.body-8{

        background-color: rgb(7, 7, 83);

}







.Boite-X{

    background-color: rgb(7, 7, 83);
    border: gray double 10PX;
    width: 900PX ;
    height: 400PX ;
    border-radius: 20PX ;
    border-radius: 40PX 60PX 40PX 80PX ;
    padding-left: 60PX ;
    padding-right: 60PX;
    padding-bottom:  30PX;
    padding-top:  30PX;
    margin-left: 50PX;
    margin-right: 50PX;

}


#h-19{

    text-align: center;
    padding-top: 30PX;
    color: white;
    font-size: 40PX;


}

#P-19{
        text-align: center;
        margin-top: 40PX;
        font-size: 20PX;
    color: white;
    }


.last-h{
        margin-top: 140PX;
        color:  black;
        padding-left: 60PX;
        padding-right: 10PX;

    }




#img-16{

 
width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;





}


#img-17{

  
width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;



}


#img-18{

  
width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;

}



#img-19{

   
width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;
}


#img-20{


width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;



}


#img-21{

   
width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;




}

#Boite-AB{
width: 380PX ;
height:  400PX; 

border-radius: 50%; 

background-color: gray;
       border:black solid 3PX;



display: inline-block;
margin-left: 80PX;
float: right;
    float: inline-start;
margin-right: 100PX;
margin-top: 100PX;




}







#Boite-AC{

    width: 380PX ;
height:  400PX; 
border-radius: 50%; 
background-color: gray;
       border:black solid 3PX;


display: inline-block;
float: right;
margin-top: 100PX;
float: inline-end;







}



#Boite-AD{


width: 380PX ;
height:  400PX; 
border-radius: 50%; 
background-color: gray;
       border:black solid 3PX;


display: inline-block;
float: left;
margin-top: 120PX;
float: inline-start;






}



#Boite-AY{

width: 380PX ;
height:  400PX; 
border-radius: 50%; 
background-color: gray;
       border:black solid 3PX;


display: inline-block;
float: right;
margin-right: 30px;
margin-top: 180PX;
float: inline-end;







}



#Boite-AF{

width: 380PX ;
height:  400PX; 

border-radius: 50%; 
   background-color: gray;
       border:black solid 3PX;

display: inline-block;
margin-top: 180PX;
float: right;
margin-left:  40px;


float: inline-start;





}



#Boite-AG{
width: 380PX ;
height:  400PX; 

border-radius: 50%; 
 
background-color: gray;
       border:black solid 3PX;


display: inline-block;
margin-top: 180PX;
margin-left: 120PX;






}




#Boite-F{
width: 380PX ;
height:  300PX; 
margin-top: 150PX;
  background-color: gray;
       border:black solid 3PX;

border-radius: 50PX 60PX;
display: inline-block;
float: inline-end;





}