.body-4{
    background-color: rgb(7, 7, 83);

}



.container-R1{

    background-color: rgb(7, 7, 83);
       border: gray double 10PX;
    width: 900PX ;
    height: 400PX ;
    border-radius: 20PX ;
    border-radius: 40PX 60PX 40PX 80PX ;
    padding-left: 60PX ;
    padding-right: 60PX;
    padding-bottom:  30PX;
    padding-top:  30PX;
    margin-left: 50PX;
    margin-right: 50PX;

}


#h-41{

    text-align: center;
    padding-top: 10PX;
    color: white;
    font-size: 50PX;


}

#P-41{
        text-align: center;
        margin-top: 40PX;
        font-size: 25PX;
        color: white;
    }


#h-8{
        padding-bottom: 80PX;
        font-size: 30PX;
        padding-left: 90PX;
        color: black;


    }




#img-M1{

width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;






}


#img-N2{
  width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;



}


#img-T2{

   width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;


}



#img-U2{
width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;

}


#img-V2{

width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;


}


#img-S2{
width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;




}

.continer-M1{
 
  
width: 380PX ;
height:  400PX; 
margin-top: 90PX;
margin-left: 30PX;
    background-color: gray;
       border:black solid 3PX;

border-radius: 50%; 
 
    
display: inline-block;
float: inline-start;



}





.continer-N2{


width: 380PX ;
height:  400PX; 
border-radius: 50%; 
    background-color: gray;
       border: black solid 3PX;
display: inline-block;
float: left;
margin-top: 90PX;
float: inline-start;

margin-left: 120PX;







}



.continer-T2{

width: 380PX ;
height:  400PX; 
border-radius: 50%; 
 background-color: grey;
       border: black solid 3PX;
display: inline-block;
float: right;
margin-right: 10px;
margin-top: 90PX;
float: inline-end;







}



.continer-U2{

width: 380PX ;
height:  400PX; 

border-radius: 50%; 
    background-color: gray;
       border: black solid 3PX;
display: inline-block;
margin-top: 180PX;
float: right;
margin-left:  40px;


float: inline-start;





}



.continer-V2{
width: 380PX ;
height:  400PX; 

border-radius: 50%; 
 
    background-color: gray;
       border: black solid 3PX;
float: inline-start;
margin-top: 180PX;
margin-left: 120PX;






}




.continer-S2{




width: 380PX ;
height:  400PX; 
margin-top: 190PX;
margin-right: 30PX;
    background-color: gray;
       border: black solid 3PX;

border-radius: 50%; 
 
    
display: inline-block;
float: inline-end;





}




