.body-10{
    background-color: rgb(7, 7, 83);
}







.cadre-R{

background-color: rgb(7, 7, 83);
    
border: gray double 10PX;    
    width: 900PX ;
    height: 400PX ;
    border-radius: 20PX ;
    border-radius: 40PX 60PX 40PX 80PX ;
    padding-left: 60PX ;
    padding-right: 60PX;
    padding-bottom:  30PX;
    padding-top:  30PX;
    margin-left: 50PX;
    margin-right: 50PX;

}


#h-9{

    text-align: center;
    padding-top: 30PX;
    color: white;
    font-size: 40PX;


}

#P-9{
        text-align: center;
        margin-top: 40PX;
        font-size: 20PX;
        color: white;
    }


#h-10{
        margin-top: 140PX;
        font-size: 25PX;
        color: black;
        padding-left: 60PX;
        padding-right: 10PX;

    }




#img-A1{

   
 width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;


   





}


#img-A2{
  
 width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;






}


#img-A3{

 width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;




}



#img-A4{


 width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;



}


#img-A5{

    
 width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;





}


#img-A6{

   
 width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;






}

.cadre-A{
width: 380PX ;
height:  400PX; 

border-radius: 50%; 

  background-color: gray;
       border:black solid 3PX;

display: inline-block;
margin-left: 80PX;
float: right;
    float: inline-start;
margin-right: 100PX;
margin-top: 100PX;




}







.cadre-N{

    width: 380PX ;
height:  400PX; 
border-radius: 50%; 
   

background-color: gray;
       border:black solid 3PX;

display: inline-block;
float: right;
margin-top: 100PX;
margin-right: 20PX;

float: inline-end;







}



.cadre-T{


width: 380PX ;
height:  400PX; 
border-radius: 50%; 

   background-color: gray;
       border:black solid 3PX;

display: inline-block;
float: left;
margin-top: 120PX;
float: inline-start;






}



.cadre-U{

width: 380PX ;
height:  400PX; 
border-radius: 50%; 

    background-color: gray;
       border:black solid 3PX;

display: inline-block;
float: right;
margin-right: 30px;
margin-top: 180PX;
float: inline-end;







}



.cadre-V{

width: 380PX ;
height:  400PX; 

border-radius: 50%; 
  background-color: gray;
       border:black solid 3PX;

display: inline-block;
margin-top: 180PX;
float: right;
margin-left:  40px;


float: inline-start;





}

        



.cadre-S{
width: 380PX ;
height:  400PX; 

border-radius: 50%; 
background-color: gray;
       border:black solid 3PX;


display: inline-block;
margin-top: 180PX;
margin-left: 120PX;






}



