




.container-X{

    background-color: rgb(55, 131, 201) ;
    border: solid black 5PX;
    text-align: center;
    width: 400PX;
    height: 2000PX;  
    margin-left: 20PX;
    margin-bottom:100PX;
    margin-top: 50PX;
    float: inline-start;
        

 

   
      



}
#h-3{
font-size: 30PX;
text-align: center;
color: black;
text-align: center;
background-attachment: scroll;
margin-left: 20PX;
padding-top: 200PX;
padding-bottom: 60PX;





}

#P-1{
font-size: 20PX;
color: black;
text-align: center;
list-style: circle;
padding-bottom: 60PX;

}

#container-A{

    background-color: greenyellow;
    box-shadow: 20PX 1PX 20px gray ;
    width: 300PX;
    height: 600PX;
    float: left;
    margin: 20PX;
    margin-left: 170PX;
    margin-top: 50PX;


}



#container-B{

    background-color: rgb(83, 219, 208);
    box-shadow: 20PX 1PX 20px gray ;
    width: 300PX;
    height: 600PX;
    float: right;
   
    margin-top: 50PX;
      margin-left: 60PX;
    margin-right: 350PX;
 

   
      



}



#container-C{
    
     
    background-color: palevioletred;
    box-shadow: 20PX 1PX 20px gray ;
    width: 300PX;
    height: 600PX;
    float: right;
    margin-right: 180PX;
    margin-top: 50PX;

}



#container-D{

      
    background-color: rgb(119, 179, 119);
    box-shadow: 20PX 1PX 20px gray ;
    width: 300PX;
    height: 600PX;
    float: right;    
    margin-left: 60PX;
    margin-right: 60PX;
    margin-top: 50PX;
 
   


}



#container-E{
    
    background-color: rgb(255, 201, 101);
    box-shadow: 20PX 1PX 20px gray ;
    width: 300PX;
    height: 600PX;
    float: left;    
  margin-left: 60PX;
    margin-right: 60PX;
    margin-top: 50PX;

   
      



}



#container-F{

    background-color: rgb(137, 41, 41);
    box-shadow: 20PX 1PX 20px gray ;
    width: 300PX;
    height: 600PX;
    float: left;
    margin-left: 60PX;
    margin-right: 60PX;
    margin-top: 50PX;
 
   
}

#image-c{
      width: 200PX;
    height: 800PX;
   border: solid  grey 5PX ;
   border-radius:  gray 15PX 20PX;
   
    margin-top: 60PX;

    margin-right: 60PX;
    margin-bottom: 50PX;
    padding-top: 0PX;
    margin-left: 70PX;
    max-width: 100%;
    height: auto;
    float: inline-end;



}



#first-h{
text-align: center;
font-size: 30PX;
margin-top: 50PX;
margin-left:  50PX; 
margin-right: 40PX;
gap: 60PX;

    
   
  


}

#last-p{

    font-size: 30PX;
    color: white;
    text-align: center;
    margin-left: 100PX;
    margin-bottom: 30PX;
    padding-top: 190PX;
    margin-left: 60PX;


   



}
