


.link{

    color: black;
    font-size: 40PX;
    gap: 50PX;
    margin-top: 80PX;
    margin-bottom: 100PX;
    border: solid black 1px;
    background-color: grey;
    padding: 5PX 5PX;
    float: inline-end;
    margin-right: 80PX;




}

#first-1{

   

display: inline-block;
margin-left: 900PX;
font-size: 40PX;
color: rgb(8, 8, 153);
margin-top: 10PX;

}

hr{
    color: black;
    width: 5px;
}


#img-M{

    background-color: black;
    border-radius: 50%;
    width: 130px;
    margin-top: 50PX;
    margin-left: 10PX;
    margin-right: 10PX;
    float: inline-start;
    border: solid black 2px;



}

.img-k{
    
    width: 790px;
    height: 300PX;
    margin-left: 300PX;
    margin-right: 50PX;
    margin-top: 100PX;
    margin-bottom: 100PX;
    border: solid blue;
    box-shadow: grey 50PX 30PX ;
}



#second-p{

    text-align: center;
    font-size: 30PX;
    padding: 20PX 20px;
    padding-bottom:20PX;
    margin-left: 20PX;
    margin-right: 20PX ;
    padding-bottom: 20PX;
    color: rgb(2, 5, 58);
    margin-top: 70PX;   
    max-height: 260PX;
    height: 400PX;
    border: solid white 5px;
    background-color: grey;
    

}
