.body-14{
    background-color: rgb(7, 7, 83);


}







#Boite-h{

     background-color: rgb(7, 7, 83);
    border: gray double 10PX;
    width: 900PX ;
    height: 400PX ;
    border-radius: 20PX ;
    border-radius: 40PX 60PX 40PX 80PX ;
    padding-left: 60PX ;
    padding-right: 60PX;
    padding-bottom:  30PX;
    padding-top:  30PX;
    margin-left: 50PX;
    margin-right: 50PX;
    

}


#h-22{

    text-align: center;
    padding-top: 30PX;
    color: white;
    font-size: 40PX;


}

#P-22{
        text-align: center;
        margin-top: 40PX;
        font-size: 20PX;
        color: white;
    }


.last-h2{
        margin-top: 140PX;
        color:  black;
        padding-left: 60PX;
        padding-right: 10PX;

    }




#img-AB{
width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;




}


#img-AQ{
    width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;







}


#img-AH{

    width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;



}



#img-AL{

   width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;


}


#img-AP{
width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;



}


#img-AV{

   width: 260PX;
    height:  220PX; 
    margin-right: 50PX;
    border-radius: 50% ;
    border: solid black 5PX ;
    margin-top: 20PX;
    margin-bottom: 50PX;
    margin-right: 60PX;
    max-width: 140%;
    float: inline-end;





}




#Boite-AQ{
width: 380PX ;
height:  400PX; 

border-radius: 50%; 

    background-color: gray;
       border:black solid 3PX;


display: inline-block;
margin-left: 80PX;
float: right;
    float: inline-start;
margin-right: 100PX;
margin-top: 100PX;




}










#Boite-AH{


width: 380PX ;
height:  400PX; 
border-radius: 50%; 
 background-color: gray;
       border:black solid 3PX;

display: inline-block;
float: left;
margin-top: 190PX;
float: inline-start;






}



#Boite-AB{

width: 380PX ;
height:  400PX; 
border-radius: 50%; 

   background-color: gray;
       border:black solid 3PX;


display: inline-block;
float: left;
margin-right: 30px;
margin-top: 180PX;
float: inline-start;







}



#Boite-AQ{
width: 380PX ;
height:  400PX; 

border-radius: 50%; 

    background-color: gray;
       border:black solid 3PX;



   display: inline-block;
float: left;
margin-right: 30px;
margin-top: 180PX;
float: inline-start;




}










#Boite-AH{


width: 380PX ;
height:  400PX; 
border-radius: 50%; 
 background-color: gray;
       border:black solid 3PX;


display: inline-block;
float: right;
margin-top: 160PX;
float: inline-end;






}



#Boite-AL{

width: 380PX ;
height:  400PX; 
border-radius: 50%; 

  background-color: gray;
       border:black solid 3PX;


display: inline-block;
float: right;
margin-right: 30px;
margin-top: 210PX;
float: inline-end;







}



#Boite-AP{

width: 380PX ;
height:  400PX; 

border-radius: 50%; 
    background-color: gray;
       border:black solid 3PX;

display: inline-block;
margin-top: 180PX;
float: left;
margin-left:  40px;


float: inline-start;





}



#Boite-AV{
width: 380PX ;
height:  400PX; 

border-radius: 50%; 
 
 background-color: gray;
       border:black solid 3PX;



display: inline-block;
margin-top: 180PX;
margin-left: 120PX;
float: inline-start;
float: left;







}


