.body-1{
    border: black double 10PX;
    width: 1400PX;
    height: 2800PX;
}

.container-1{

    background-color: #E3E3E3;
    border: black solid 5PX;
    border-radius: 30PX 30PX;
    width: 900PX;
    height: 400PX;
    margin-bottom: 90PX;
    margin-top: 90PX;
    margin-left: 60PX;
    padding-top: 40PX;
    padding-bottom: 40PX;
    padding-left: 40PX;
    padding-right: 40PX;
    float: inline-start;

}
.container-2{

    background-color: #456882;
    border: black solid 5PX;
    border-radius: 30PX 30PX;
    width: 900PX;
    height: 400PX;
    margin-bottom: 40PX;
    margin-left: 40PX;
    margin-top: 90PX;
    padding-top: 40PX;
    padding-bottom: 40PX;
    padding-left: 40PX;
    padding-right: 40PX;
    float: inline-start;


}

.container-3{
    background-color: #E3E3E3;
    border: black solid 5PX;
    border-radius: 30PX 30PX;
    width: 900PX;
    height: 400PX;
    float: inline-start;
    margin-top: 90PX;
    margin-left: 40PX;
    margin-right: 60PX ;
    padding-top: 0PX;
    padding-bottom: 40PX;
    padding-left: 40PX;
    padding-right: 40PX;

}



.container-4{
    background-color: #456882;
    border: black solid 5PX;
    border-radius: 30PX 30PX;
    width: 900PX;
    height: 400PX;
    float: inline-start;
    margin-top: 90PX;
    margin-left: 40PX;
    margin-right: 60PX ;
    padding-top: 0PX;
    padding-bottom: 40PX;
    padding-left: 40PX;
    padding-right: 40PX;

}

.container-5{
    
    background-color: #E3E3E3;
    border: black solid 5PX;
    border-radius: 30PX 30PX;
    width: 900PX;
    height: 400PX;
    float: inline-start;
    margin-top: 90PX;
    margin-left: 40PX;
    margin-right: 60PX ;
    padding-top: 0PX;
    padding-bottom: 40PX;
    padding-left: 40PX;
    padding-right: 40PX;

}


button{
     
    background-color: #1B3C53;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 40px;



}
a{
    color: #1B3C53;
    text-align: center;
    font-size: 40PX;
    margin-top: 5PX;
    display: inline-block;
    padding-top: 10PX;
    padding-bottom: 20PX;
    padding-left: 40PX;
    padding-right: 40PX;


           
 


}

.first-h2{

    color: black;
    text-align: left;
    font-size: 25px;
    margin-top: 30PX;
    padding-left: 40PX;
    padding-right: 40PX;

  


}

.first-p{
    color: black;
    text-align: left;
    font-size: 25px;
    margin-top: 20PX;
    padding-left: 40PX;
    margin-bottom: 60PX;
    padding-right: 40PX;

}



