
.body-A{
  background-color: white;
}



h1{
  color:#1B3C53;
  text-align: left;
  font-size: 24px;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 50px;
}

h2{
  color: black;
  text-align: left;
  font-size: 24px;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 50px;

}
p{

  color:#456882;
  text-align: left;
  font-size: 20px;
  margin-bottom:60PX ;
  margin-top: 60PX;
  margin-right: 40PX;
  margin-left: 60px;


}
li {
  text-decoration: none;
  color: #817474;
  font-size: 20px;
  margin-left: 60px;
  cursor: pointer;
  list-style-type: circle;
  margin-top: 30PX;
  margin-bottom: 30PX;

}




.button-A{
  background-color : #456882;
  border-radius: 40PX 40PX ;
  padding: 20PX 20PX;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 80px;
  padding-left: 20PX;
  padding-right:20PX;
  padding-top: 10PX;
  padding-bottom:10PX;
  margin-top: 30PX;
  margin-bottom: 30PX;

}






button{

  background-color : #456882;
  border-radius: 40PX 40PX ;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 80px;
  margin-top: 60PX;
  margin-bottom: 60PX;

}


#First-i{

    font-size: 50px;
    color: rgb(23, 108, 161);
    margin-left: 80px;
    display: inline-flex;
    margin-top: 30PX;
    margin-bottom: 30PX;
}

#Last-i{
    font-size: 50px;
    color: rgb(23, 108, 161);
    display: inline-flex;
    margin-left: 80px;
    margin-top: 30PX;
    margin-bottom: 30PX;

}

hr{
  border: 1px solid rgb(200, 200, 200);
  margin-top: 40PX;
  margin-bottom: 40PX;
  margin-left: 60px;
  margin-right: 40PX;
}